*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
.photo_gallery{
    text-align:center;
    border:1px solid red;
    width:80%;
    margin:auto;
    margin-top:50px;
    font-size:24px;
    padding-top:60px;
    min-height:500px;
}
.album-grid{
    margin-top:100px;
    border:2px solid red;
  min-height:420px;
  display:flex;
flex-wrap:wrap;
}
.image-grid{
    width:200px;
    margin:20px;
}
img{
    width:200px;
    height:200px;
}